.main, .rollButton {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    vertical-align: top;
    display: flex;
    justify-content: center;
}
.main .dice strong{ 
    background-color: transparent;
    color: #595959;
}

.dice{
    background-color: #ffd5d5;
    padding: .75rem;
    width: 100px;
    height: 100px;
    outline: 10px groove tomato;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rollButton button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.main .rollButton button:hover{
    opacity: 0.7;
}
